{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2">
  <center>
  <form method="POST" style=" margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    
      {{ form.as_p }}
    
   <center>
    <button style="background: lightseagreen; font-size: 2rem; color: white;padding:1%;" class="btn btn-sm-3" type="submit">LOGIN</button>
  </center>
  <br/>
  <!-- <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> -->
  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; font-size: 15px;color: blue; padding:2%; cursor:pointer; margin-right:2%;">Don't have Account,Sign up</a></sub>
  </form>
</center>
 </div>
{% endblock start %}
